<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gio.firstproject">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_android"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <data android:scheme="mailto" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginScreenActivity" />
        <activity android:name=".activities.RegisterScreenActivity" />
        <activity android:name=".activities.HeaderInformationLayoutActivity" />
        <activity android:name=".activities.InformationLayoutactivity" />
        <activity android:name=".activities.ListUserActivity" />
        <activity android:name=".activities.DetailItemActivity" />
        <activity android:name=".activities.PhoneCallActivity" />
        <activity android:name=".activities.IntentFilterActivity" />
        <activity android:name=".activities.ListNoteActivity" />
        <activity android:name=".activities.AddEditNoteActivity" />
        <activity android:name=".activities.SharedPreferenceActivity" />
        <activity android:name=".activities.InternalStorageActivity" />
        <activity android:name=".activities.LogInSuccessActivity" />
        <activity android:name=".fragmentdemo.FragmentDemoActivity"/>
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more item_user.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

    </application>

</manifest>