<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gio.firstproject">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_android"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.MainActivity_">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.DIAL" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="tel" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SEND" />

                <data android:scheme="mailto" />
            </intent-filter>
        </activity>
        <activity android:name=".activities.LoginScreenActivity_" />
        <activity android:name=".activities.RegisterScreenActivity_" />
        <activity android:name=".activities.HeaderInformationLayoutActivity_" />
        <activity android:name=".activities.ListUserActivity" />
        <activity android:name=".activities.DetailItemActivity_" />
        <activity android:name=".activities.PhoneCallActivity_" />
        <activity android:name=".activities.IntentFilterActivity_" />
        <activity android:name=".activities.ListNoteActivity_" />
        <activity android:name=".activities.AddEditNoteActivity_" />
        <activity android:name=".activities.SharedPreferenceActivity_" />
        <activity android:name=".activities.InternalStorageActivity_" />
        <activity android:name=".activities.LogInSuccessActivity_" />
        <activity android:name=".fragmentdemo.FragmentDemoActivity" />
        <activity android:name=".fragmentdemo.FragmentMainDemo2_" />
        <activity android:name=".activities.ViewPagerActivity_" />
        <activity android:name=".servicedemo.Test_" />
        <activity android:name=".broadcast_receiver.SmsBroadcastReceiver_" />
        <activity android:name=".activities.UIActivity_" />
        <activity android:name=".activities.MapActivity_" />
        <activity android:name=".thread_handler_asynctask.MultiThread" />
        <activity android:name=".thread_handler_asynctask.DownloadImageActivity_" />
        <activity android:name=".activities.AnswersActivity_" />
        <activity android:name=".activities.AAnnotationDemo_" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyD02-1rFyVgUOVmlR5mnvah9bODtGqPE6Q" />

        <service
            android:name=".servicedemo.PlayAudio_"
            android:enabled="true" />

        <receiver android:name=".broadcast_receiver.MyBroadcastReceiver_">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.net.wifi.WIFI_STATE_CHANGED" />
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
                <action android:name="app2" />
            </intent-filter>
        </receiver>

    </application>

</manifest>